#sidebar-left{
  background-color:#d4d7de;
}
.nav.main-menu > li > a, .nav.msg-menu > li > a{
  color:#000000;
}
#sidebar-left .nav > li{
  border-bottom: 1px solid #fff;
}

.panel-default > .panel-heading{
  background-color:#006697;
}
.panel-heading::before{
  color:white !important;
}
#horizenal_black_menu{
  background-color:#fff;    
}

#horizenal_black_menu .dropdown a{
  color:#000000;
}
#horizenal_black_menu .dropdown{
  border:none;
}
.homelinkarea{
  background-color:#006697;
}
.homelinkarea a{
  color:#fff;
}
.k-grid-header th.k-header {
  background: #d0e9f7 !important;
  color: #000000 !important;
}

.k-grid-header .k-header>.k-link{
  color:#000000 !important;
/*font-weight:bold;*/
}

/*.k-grid-toolbar .k-button{
  background-color:#d4d7de !important;
  color: #000 !important;
}*/

/*.k-grid-toolbar:first-child, .k-grouping-header + .k-grid-toolbar {
  background: #d4d7de;      
}*/
.main-menu .dropdown-menu{
  background:#f1f2f4 !important;
}
.main-menu .dropdown-menu > li > a{
  color:#000;
}
.nav.main-menu .dropdown-menu > li > a:hover{
  background-color:#d1e8f8 !important;
  color:#000;
}
.footer{
  border-top: 3px solid #006697;
}
.fa-bars{
  background-color:#006697;
}
.round_box:before{
      border-top-color:#006697;
}
.btn-custom, .btn-primarynv{
  background-color:#006697;
      color: #fff;
}

.btn-custom:hover, .btn:hover{
  background-color:#009be5;
  color: #fff !important;
}

.slick-prev:before, .slick-next:before{
  color:#536a8a;
}
.user-mini > span, .user-mini > span:hover{
  color:#006697;
}
.k-grid-toolbar:first-child, .k-grouping-header + .k-grid-toolbar{
  background-color:#006697 !important;
}

.k-button:hover, .k-button.k-state-hover, .k-button:focus, .k-button.k-state-focused, .k-textbox:hover, .k-state-hover, .k-state-hover:hover, .k-pager-wrap .k-link:hover, .k-other-month.k-state-hover .k-link, div.k-filebrowser-dropzone em, .k-draghandle:hover {
   color: #fff; 
   border-color: #009be5; 
   background-color: #009be5; 
   background-image: url(textures/highlight.png);
  background-image: none,-webkit-linear-gradient(top,#009be5 0,#009be5 100%);
  background-image: none,-moz-linear-gradient(top,#009be5 0,#009be5 100%);
  background-image: none,-o-linear-gradient(top,#009be5 0,#009be5 100%);
  background-image: none,linear-gradient(to bottom,#009be5 0,#009be5 100%);
  background-position: 50% 50%;
  border-color: #dadada;
}
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list>.k-state-selected, .k-list>.k-state-highlight, .k-panel>.k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color{
  background-color:#006697;
  border-color:#006697;
}

.k-autocomplete.k-state-hover, .k-picker-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-dropdown-wrap.k-state-hover {
 background-color: #66a0b2;
  background-image: url(textures/highlight.png);
  background-image: none,-webkit-linear-gradient(top,#66a0b2 0,#66a0b2 100%);
  background-image: none,-moz-linear-gradient(top,#66a0b2 0,#66a0b2 100%);
  background-image: none,-o-linear-gradient(top,#66a0b2 0,#66a0b2 100%);
  background-image: none,linear-gradient(to bottom,#66a0b2 0,#66a0b2 100%);
  background-position: 50% 50%;
  border-color: #dadada;
  color:#fff;
}
.k-state-hover, .k-state-hover:hover{
  background-color: #66a0b2;
  background-image: url(textures/highlight.png);
  background-image: none,-webkit-linear-gradient(top,#66a0b2 0,#66a0b2 100%);
  background-image: none,-moz-linear-gradient(top,#66a0b2 0,#66a0b2 100%);
  background-image: none,-o-linear-gradient(top,#66a0b2 0,#66a0b2 100%);
  background-image: none,linear-gradient(to bottom,#66a0b2 0,#66a0b2 100%);
  background-position: 50% 50%;
  border-color: #dadada;
  color:#fff;
}
.k-autocomplete.k-state-focused, .k-picker-wrap.k-state-focused, .k-numeric-wrap.k-state-focused, .k-dropdown-wrap.k-state-focused, .k-multiselect.k-header.k-state-focused{
 background-color: #66a0b2;
  background-image: url(textures/highlight.png);
  background-image: none,-webkit-linear-gradient(top,#66a0b2 0,#66a0b2 100%);
  background-image: none,-moz-linear-gradient(top,#66a0b2 0,#66a0b2 100%);
  background-image: none,-o-linear-gradient(top,#66a0b2 0,#66a0b2 100%);
  background-image: none,linear-gradient(to bottom,#66a0b2 0,#66a0b2 100%);
  background-position: 50% 50%;
  border-color: #dadada;
  color:#fff;
}

.k-button:active:hover, .k-button.k-state-active:hover{
  background-color:#006697;
}

.k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active{
  border-color:#006697;
}
.profile-header {
  border: 1px solid #006697;
}
.btn-ship {    
  background-color: #006697;
  
}
.k-state-focused, .k-grouping-row .k-state-focused{
  border-color: #006697;
}
.k-multiselect-wrap li{
word-break: break-all;
}
.k-file-success {
  color: #006697;
}
.k-file-success .k-progress {
  background-color: #d0e9f7;
}
.nav > li > a:hover, .nav > li > a:focus {
  background: none !important;
  color: #006697;
}
.k-button, a.k-button{
  color: #fff;
  border-color: #006697;
  background-color: #006697;

  }

fieldset.scheduler-border {
  border: 2px groove #006697 !important;
  padding: 0 1.0em 1.0em 1.0em !important;
  margin: 0 0 0 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
 background:#fff;
}

legend.scheduler-border {
  width:inherit; 
  padding: 3px 0 0 0;
  border-bottom:none;
color:#006697;
}
legend{
font-size: 12px;
font-weight:bold;
  margin-bottom: 5px;
}

.k-widget.k-tooltip {
  border-color: #006697;
  background-color: #006697;
  color: #fff !important;
}
.status-active {
  color: #006697;
}
.input-suggestion{
  color:#006697;
}
div[data-allocation] .nav-tabs {
      background-color: #006697;
      padding-left: 5px;
  }
.askquestion {
  background:#006697;
}
#Details .onoffswitch-inner:before {            
          background-color: #006697;
          color: #FFFFFF;
         
      }

thead th {
      background-color: #d0e9f7;
      color: black;
      font-weight: normal;
  }