@{
    Layout=null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="~/Content/css/admin.css" rel="stylesheet"/>

    <link href="~/Content/css/themeBlue.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="Scripts/animation.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    
</head>

<body>
    <div class="container loginboxarea">
        <div class="companylogoarea"><img src="~/Content/img/logora.png"></div>
        <div class="row loginboxa">
            
            <div class="col-md-4 col-md-offset-4 col-sm-4  loginrgtinnerbody">
                <div class="login-panel panel panel-default">
                    <div class="logobox"></div>
                    <div class="panel-heading">
                        <h3 class="panel-title textaligncenter">nVisionGlobal Admin</h3>
                    </div>
                    <div class="panel-body">
                        <form action="~/Home/Login" method="post">
                            <div style="color:red;">
                                <span class="field-validation-valid" data-valmsg-for="ValidationError" data-valmsg-replace="true"></span>

                            </div>
                            <input name="__RequestVerificationToken" type="hidden" value="UTl7WvyMcuPuV6Y01symkMq0-4RCMTIA_P5he6TB7OzDGlObSdq2KAU9z6onA2ElqemmwZXrmXMR1F60wasYoFmMAndBBPQFcgnHyPuND2w1" />                            <div class="form-group">
                                <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="EmailReq" id="Email" name="Email" placeholder="E-mail" type="text" value="" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" data-val="true" data-val-required="PasswordReq" id="Password" name="Password" placeholder="Password" type="password" />
                            </div>
                            <div class="form-group">
                                <img id="captcha" alt="" src="" />
                                <input data-val="true" data-val-required="Please type the characters displayed above." id="HiddenCaptcha" name="HiddenCaptcha" type="hidden" value="" />
                                <a href="#" id="reloadCaptcha">
                                    <span class="refresh-icon">
                                        <img src="~/Content/img/GenerateCode_Icon.png" alt="">
                                    </span>
                                </a>
                                <input class="form-control captchatexbox" data-val="true" data-val-equalto="Please type the characters displayed above." data-val-equalto-other="*.HiddenCaptcha" id="Captcha" name="Captcha" placeholder="Captcha" type="text" value="" />
                            </div>
                            <div class="form-group" style="padding-top:10px;clear:both">
                                <input type="submit" value="Login" id="btnLogin" class="btn btn-large greenlgbtn" />
                            </div>
                        </form>
                    </div>
                    <div class="powrby"><img src="~/Content/img/power.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerloginadmin">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11 newfooterpad">
                    <script language="JavaScript">
                        today = new Date();
                        y0 = today.getFullYear();
                    </script>
                    <div class="copyright">
                        Copyright &copy; 2004-
                        <script language="JavaScript">
                            document.write(y0);
                        </script><span class="n">
                            <strong>i</strong>
                        </span>
                        <span class="v"> Magine Global</span>
                        <strong>
                            All Rights Reserved. 
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>


    <script type="text/javascript">
        @* $(function () {
            var url = "/Account/Captcha";
            $('#captcha').generateCaptcha({ actionUrl: url }, function (captchaKey) {
                $('#HiddenCaptcha').val(captchaKey);
            });
            $(document.body).on('click', '#reloadCaptcha', function (e) {
                e.preventDefault();
                $('#captcha').generateCaptcha({ actionUrl: url }, function (captchaKey) {
                    $('#HiddenCaptcha').val(captchaKey);
                });
            });
        }); *@
    </script>
</body>

</html>
